.DS_Store
.idea/
.vscode/
accounts.json
bak/
core/txpool/DelayTxDB/
consensus/snapshot/DB/
consensus/genesis/mvcc/
core/merkletree/TXRMerkleTreeDB/
db/kv/db/
db/mvccdb/
ilog/logs1/
ilog/logs2/
coverage.txt
data/
logs/
p2p/priv.key
storage/
target/
tmp/
var/
*.prof
*.o
